#btn-con:hover, #btn-decon:hover, .connexion-modal .form #submit:hover, .close-modal:hover {
  cursor: pointer;
  transform: scale(1.07); }

#btn-con, #btn-decon, .connexion-modal .form #submit {
  padding: 2px 15px;
  border-radius: 30px;
  font-family: "sourceB";
  font-size: 2rem; }

#btn-burger, #icon-bottle-white, #icon-user-white, .del-creat-cont img, .close-modal {
  width: 40px;
  height: 40px; }

.cards, .connexion-modal {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45); }

.connexion-modal .form input {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  font-family: 'source', sans-serif;
  font-size: 1.5rem; }
  .connexion-modal .form input::placeholder {
    color: #818181; }

@font-face {
  font-family: "source";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf"); }

@font-face {
  font-family: "sourceB";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf"); }

@font-face {
  font-family: "jose";
  src: url("../fonts/JosefinSans/JosefinSans-Regular.ttf"); }

@font-face {
  font-family: "joseB";
  src: url("../fonts/JosefinSans/JosefinSans-Bold.ttf"); }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "source",sans-serif;
  color: #3e0018;
  background-image: url(../img/bg-bouteilles.jpg);
  background-size: cover;
  background-attachment: fixed; }

#btn-con:hover, #btn-decon:hover, .connexion-modal .form #submit:hover, .close-modal:hover {
  cursor: pointer;
  transform: scale(1.07); }

#btn-con, #btn-decon, .connexion-modal .form #submit {
  padding: 2px 15px;
  border-radius: 30px;
  font-family: "sourceB";
  font-size: 2rem; }

#btn-burger, #icon-bottle-white, #icon-user-white, .del-creat-cont img, .close-modal {
  width: 40px;
  height: 40px; }

.cards, .connexion-modal {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45); }

.connexion-modal .form input {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  font-family: 'source', sans-serif;
  font-size: 1.5rem; }
  .connexion-modal .form input::placeholder {
    color: #818181; }

#nav-rouge, #nav-blanc, #nav-rose {
  padding-bottom: .3rem;
  margin: 1rem 5vw;
  font-size: 2.5rem;
  transition: all 0.2s ease-in-out; }

header {
  position: fixed;
  z-index: 2;
  top: 0;
  background: #3e0018;
  overflow: hidden;
  height: 150px;
  width: 100%;
  transition: all 1s ease-in-out; }
  header div img {
    width: 250px;
    margin: 3rem 0; }

#nav-cont {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }

nav ul {
  display: flex; }
  nav ul li {
    list-style: none;
    transition: all 0.2s ease-in-out; }
    nav ul li:hover {
      transform: scale(1.07); }
    nav ul li a {
      text-decoration: none;
      font-family: 'jose'; }

#nav-rouge {
  color: #88002d; }
  #nav-rouge:hover {
    transform: scale(1.07);
    color: rgba(136, 0, 45, 0.5); }

#nav-blanc {
  color: #ffe5aa; }
  #nav-blanc:hover {
    transform: scale(1.07);
    color: rgba(255, 229, 170, 0.5); }

#nav-rose {
  color: #ff7b6c; }
  #nav-rose:hover {
    transform: scale(1.07);
    color: rgba(255, 123, 108, 0.5); }

.current_page {
  border-bottom: 3px solid #88002d; }
  .current_page:hover {
    border-bottom-color: rgba(136, 0, 45, 0.5); }

#btn-con, #btn-decon {
  margin: 3rem 0;
  background-color: white;
  color: #3e0018;
  border: none;
  transition: all 0.2s ease-in-out; }
  #btn-con a, #btn-decon a {
    text-decoration: none;
    color: #3e0018; }

#btn-burger {
  display: none; }

#icon-bottle-white, #icon-user-white {
  position: absolute;
  z-index: 4;
  top: 16px;
  right: 21px;
  margin: 0;
  display: none;
  transition: all 0.2s ease-in-out; }
  #icon-bottle-white:hover, #icon-user-white:hover {
    transform: scale(1.07);
    cursor: pointer; }

#icon-user-white {
  top: 75px; }

#icon-bottle-bx, #icon-user-bx {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 4;
  top: 160px;
  right: 10px;
  margin: 0;
  transition: all 0.2s ease-in-out; }
  #icon-bottle-bx:hover, #icon-user-bx:hover {
    transform: scale(1.07);
    cursor: pointer; }

#icon-user-bx {
  top: 220px; }

@media only screen and (max-width: 1200px) {
  #nav-rouge, #nav-blanc, #nav-rose {
    margin: 1rem 3vw; }
  #icon-bottle-bx, #icon-user-bx, #icon-user-bx {
    right: 2px; } }

@media only screen and (max-width: 992px) {
  #icon-bottle-white, #icon-user-white {
    display: block; }
  #icon-bottle-bx, #icon-user-bx {
    display: none; }
  #nav-cont {
    flex-direction: column; }
  nav ul {
    flex-direction: column; }
    nav ul li {
      padding: 2rem 0; }
  #btn-burger {
    display: block;
    position: fixed;
    top: 12px;
    left: 16px;
    z-index: 3;
    background: url(../img/logos/icon_burger.svg); }
    #btn-burger.is-closed {
      background: url(../img/logos/icon_burger.svg); }
    #btn-burger.is-opened {
      background: url(../img/logos/icon_croix.svg); }
  header.isOpen {
    height: 633px; } }

@media only screen and (max-width: 425px) {
  header {
    height: 75px; }
    header.isOpen {
      height: 527px; }
    header div img {
      margin: 1.2rem 0;
      width: 150px; }
  #icon-bottle-white, #icon-user-white {
    right: 10px; } }

#btn-con:hover, #btn-decon:hover, .connexion-modal .form #submit:hover, .close-modal:hover {
  cursor: pointer;
  transform: scale(1.07); }

#btn-con, #btn-decon, .connexion-modal .form #submit {
  padding: 2px 15px;
  border-radius: 30px;
  font-family: "sourceB";
  font-size: 2rem; }

#btn-burger, #icon-bottle-white, #icon-user-white, .del-creat-cont img, .close-modal {
  width: 40px;
  height: 40px; }

.cards, .connexion-modal {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45); }

.connexion-modal .form input {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  font-family: 'source', sans-serif;
  font-size: 1.5rem; }
  .connexion-modal .form input::placeholder {
    color: #818181; }

#ratrape-header {
  width: 100%;
  height: 150px; }

.cards {
  position: relative;
  width: 90%;
  height: 600px;
  margin: 2.5rem auto;
  background: white;
  border-radius: 15px; }

.del-creat-cont {
  position: absolute;
  top: 15px;
  right: 0; }
  .del-creat-cont img {
    margin: 0 1rem;
    transition: all 0.2s ease-in-out; }
    .del-creat-cont img:hover {
      transform: scale(1.07);
      cursor: pointer; }

.card-cont {
  margin-right: 2rem;
  height: 600px;
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr; }
  .card-cont div h4 {
    color: #88002d;
    font-family: 'jose';
    font-size: 1.5rem; }
  .card-cont div p {
    margin-left: 1rem;
    font-size: 1.3rem; }
  .card-cont img {
    grid-column: 1;
    grid-row: 1 / 6;
    place-self: center;
    border-radius: 15px;
    width: 250px;
    height: 300px; }
  .card-cont h2 {
    grid-column: 2 / 5;
    grid-row: 1;
    font-family: 'joseB';
    font-size: 2.5rem; }
  .card-cont .annee {
    grid-column: 2 / 4;
    grid-row: 2;
    display: flex; }
  .card-cont .cepage {
    grid-column: 2 / 4;
    grid-row: 3;
    display: flex; }
  .card-cont .pays {
    grid-column: 4;
    grid-row: 2;
    display: flex; }
  .card-cont .region {
    grid-column: 4;
    grid-row: 3;
    display: flex; }
  .card-cont .descri {
    grid-column: 2;
    grid-row: 4; }
  .card-cont .textarea {
    grid-column: 3 / 5;
    grid-row: 5;
    align-self: start; }
    .card-cont .textarea p {
      margin-left: 0;
      margin-top: -1rem;
      margin-bottom: 2rem; }

@media only screen and (max-width: 1200px) {
  .card-cont div h4 {
    font-size: 1.3rem; }
  .card-cont div p {
    font-size: 1rem; }
  .card-cont img {
    width: 200px;
    height: 240px; }
  .card-cont h2 {
    font-size: 2rem; } }

@media only screen and (max-width: 992px) {
  .card-cont {
    margin: 2rem;
    align-items: center;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr; }
    .card-cont img {
      grid-column: 1;
      grid-row: 1;
      width: 150px;
      height: 180px;
      margin-top: 2rem; }
    .card-cont h2 {
      grid-column: 2;
      grid-row: 1; }
    .card-cont .annee {
      grid-column: 1;
      grid-row: 2; }
    .card-cont .cepage {
      grid-column: 1;
      grid-row: 3; }
    .card-cont .pays {
      grid-column: 2;
      grid-row: 2; }
    .card-cont .region {
      grid-column: 2;
      grid-row: 3; }
    .card-cont .descri {
      grid-column: 1;
      grid-row: 4; }
    .card-cont .textarea {
      grid-column: 2;
      grid-row: 5; }
      .card-cont .textarea p {
        margin-top: -3rem; } }

@media only screen and (max-width: 768px) {
  .del-creat-cont {
    top: 202px; }
  .card-cont {
    grid-template-columns: 40% 60%;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 2fr; }
    .card-cont img {
      grid-column: 1;
      grid-row: 1;
      width: 150px;
      height: 180px;
      margin-top: 2rem; }
    .card-cont h2 {
      grid-column: 2;
      grid-row: 1; }
    .card-cont .annee {
      grid-column: 1 / 3;
      grid-row: 2; }
    .card-cont .cepage {
      grid-column: 1 / 3;
      grid-row: 3; }
    .card-cont .pays {
      grid-column: 1 / 3;
      grid-row: 4; }
    .card-cont .region {
      grid-column: 1 / 3;
      grid-row: 5; }
    .card-cont .descri {
      grid-column: 1 / 3;
      grid-row: 6; }
    .card-cont .textarea {
      grid-column: 1 / 3;
      grid-row: 7; }
      .card-cont .textarea p {
        margin-top: -0.5rem; } }

@media only screen and (max-width: 576px) {
  .del-creat-cont {
    top: 144px; }
  .card-cont div h4 {
    font-size: 1.2rem; }
  .card-cont div p {
    font-size: 0.90rem; }
  .card-cont img {
    width: 100px;
    height: 120px; }
  .card-cont h2 {
    font-size: 1.5rem; } }

@media only screen and (max-width: 425px) {
  #ratrape-header {
    height: 75px; }
  .del-creat-cont {
    right: 5px; }
    .del-creat-cont img {
      margin: 0 0.3rem; }
  .card-cont div h4 {
    font-size: 1rem; }
  .card-cont div p {
    font-size: 0.75rem; }
  .card-cont img {
    width: 100px;
    height: 120px; }
  .card-cont h2 {
    font-size: 1.2rem; } }

@media only screen and (max-width: 320px) {
  .card-cont div h4 {
    font-size: 0.8rem; }
  .card-cont div p {
    font-size: 0.75rem; }
  .card-cont h2 {
    font-size: 1.2rem; } }

#btn-con:hover, #btn-decon:hover, .connexion-modal .form #submit:hover, .close-modal:hover {
  cursor: pointer;
  transform: scale(1.07); }

#btn-con, #btn-decon, .connexion-modal .form #submit {
  padding: 2px 15px;
  border-radius: 30px;
  font-family: "sourceB";
  font-size: 2rem; }

#btn-burger, #icon-bottle-white, #icon-user-white, .del-creat-cont img, .close-modal {
  width: 40px;
  height: 40px; }

.cards, .connexion-modal {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45); }

.connexion-modal .form input {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  font-family: 'source', sans-serif;
  font-size: 1.5rem; }
  .connexion-modal .form input::placeholder {
    color: #818181; }

.connexion-modal-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  opacity: 1;
  transition: all 0.4s ease-in-out; }

.hidden {
  z-index: -1;
  opacity: 0; }

.pass_hide {
  display: none; }

#pass-eye {
  display: flex;
  align-items: center;
  margin-right: -3rem; }
  #pass-eye i {
    margin: 0 1rem; }

.connexion-modal {
  text-align: center;
  background-color: #ff7b6c;
  border-radius: 30px;
  padding: 1rem 2rem;
  width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .connexion-modal img {
    position: absolute;
    top: 1rem;
    right: 1rem; }
  .connexion-modal h2 {
    font-family: 'SourceB', sans-serif;
    font-size: 3rem;
    margin: 2rem 0; }
  .connexion-modal .form {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .connexion-modal .form #submit {
      color: white;
      background-color: #3e0018;
      color: #ff7b6c;
      border: none;
      margin: 2rem 0;
      transition: all 0.2s ease-in-out; }

.close-modal {
  display: block;
  transition: all 0.2s ease-in-out; }

.msg_error {
  color: red;
  width: 100%;
  text-decoration: underline;
  margin: 1rem;
  font-size: 2rem; }

.msg_success {
  color: #07dc2b;
  width: 100%;
  margin: 1rem;
  font-size: 2rem; }

@media only screen and (max-width: 1200px) {
  .connexion-modal {
    width: 50%; } }

@media only screen and (max-width: 768px) {
  .connexion-modal h2 {
    font-size: 2.5rem; }
  .connexion-modal .form {
    width: 80%; }
  #pass-eye {
    margin-right: -1.6rem; }
    #pass-eye i {
      margin: 0 0.3rem; } }

@media only screen and (max-width: 576px) {
  .connexion-modal {
    width: 80%; } }

@media only screen and (max-width: 425px) {
  .connexion-modal {
    width: 75%; }
    .connexion-modal h2 {
      font-size: 2rem; }
    .connexion-modal .form input {
      font-size: 1rem; }
    .connexion-modal .form #submit {
      font-size: 1.5rem; } }

@media only screen and (max-width: 320px) {
  .connexion-modal h2 {
    font-size: 1.5rem; }
  .connexion-modal div input {
    font-size: 1rem; }
  .connexion-modal div #submit {
    font-size: 1.2rem; } }

#footer {
  font-size: 1.5rem;
  margin: 1rem; }
