#btn-con {
  padding: 2px 15px;
  border-radius: 30px;
  font-family: "sourceB";
  font-size: 2rem; }

@font-face {
  font-family: "source";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf"); }

@font-face {
  font-family: "sourceB";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf"); }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "source",sans-serif;
  color: #3e0018;
  background-image: url(../img/bg-bouteilles.jpg);
  background-size: cover;
  background-attachment: fixed; }

#btn-con {
  padding: 2px 15px;
  border-radius: 30px;
  font-family: "sourceB";
  font-size: 2rem; }

#nav-rouge, #nav-blanc, #nav-rose {
  padding-bottom: .2rem;
  margin: 1rem 5rem;
  font-size: 2.5rem;
  transition: all 0.2s ease-in-out; }

#btn-con:hover {
  cursor: pointer;
  transform: scale(1.07); }

header {
  position: fixed;
  top: 0;
  background: #3e0018;
  height: 150px;
  width: 100%; }

#nav-cont {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }

header div img {
  width: 250px; }

nav ul {
  display: flex; }

nav ul li {
  list-style: none;
  transition: all 0.2s ease-in-out; }
  nav ul li:hover {
    transform: scale(1.07); }

nav ul li a {
  text-decoration: none; }

#nav-rouge {
  color: #88002d; }
  #nav-rouge:hover {
    transform: scale(1.07);
    color: rgba(136, 0, 45, 0.5); }

#nav-blanc {
  color: #ffe5aa; }
  #nav-blanc:hover {
    transform: scale(1.07);
    color: rgba(255, 229, 170, 0.5); }

#nav-rose {
  color: #ff7b6c; }
  #nav-rose:hover {
    transform: scale(1.07);
    color: rgba(255, 123, 108, 0.5); }

.current_page {
  border-bottom: 4px solid #88002d; }
  .current_page:hover {
    border-bottom-color: rgba(136, 0, 45, 0.5); }

#btn-con {
  background-color: white;
  color: #3e0018;
  transition: all 0.2s ease-in-out; }

#btn-con {
  padding: 2px 15px;
  border-radius: 30px;
  font-family: "sourceB";
  font-size: 2rem; }

main {
  margin-top: 150px; }

#div-test {
  height: 400vh; }
