
@import "./variables.scss";

%li-nav{
    padding-bottom: .3rem;
    margin: 1rem 5vw;
    font-size: 2.5rem;
    transition: $animate;
}

header{
    position: fixed;
    z-index: 2;
    top: 0;
    background: $bx;
    overflow: hidden;
    height: 150px;
    width: 100%;
    transition: all 1s ease-in-out;
    
    & div img{
        width: 250px;
        margin: 3rem 0;
    }
}

#nav-cont{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    & li{
    list-style: none;
    transition: $animate;
        &:hover{
        transform: $scale;
        }
       & a{
            text-decoration: none;
            font-family: 'jose';
        } 
    }
}

#nav-rouge{
    color: $rouge;
    @extend %li-nav;
    &:hover{
        transform: $scale;
        color:  transparentize($rouge, 0.5);
    }
}

#nav-blanc{
    color: $blanc;
    @extend %li-nav;
    &:hover{
        transform: $scale;
        color:  transparentize($blanc, 0.5);
    }
    
}

#nav-rose{
    color: $rose;
    @extend %li-nav;
    &:hover{
        transform: $scale;
        color:  transparentize($rose, 0.5);
    }
}

.current_page{
    border-bottom: 3px solid $rouge;
    &:hover{
        border-bottom-color: transparentize($rouge, 0.5);
    }
}

#btn-con, #btn-decon {
    margin: 3rem 0;
    background-color: white;
    color: $bx;
    @extend %cta;
    border: none;
    transition: $animate;

    @extend %hover;

    & a{
        text-decoration: none;
        color: $bx;
    }
}

#btn-burger {
    display: none;
    @extend %btn-close;
}

#icon-bottle-white{
   @extend %btn-close;
   position: absolute;
   z-index: 4;
   top: 16px;
   right: 21px;
   margin: 0;
   display: none;
   transition: $animate;

   &:hover{
       transform: $scale;
       cursor: pointer;
   }
}

.icon-user-white{
    background: url("../img/logos/icon_user_plus_white.svg");
    @extend #icon-bottle-white;
    top: 75px;
}

#icon-bottle-bx{
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 4;
    top: 160px;
    right: 10px;
    margin: 0;
    transition: $animate;

    &:hover{
        transform: $scale;
        cursor: pointer;
    }
}

.icon-user-bx{
    background: url("../img/logos/icon_user_plus.svg");
    @extend #icon-bottle-bx;
    top: 220px;
    // opacity: 0;
    // z-index: -100;
}

// .visible{
//     opacity: 1;
//     z-index: 4;
// }

@media #{$xl} {
    %li-nav{
        margin: 1rem 3vw;
    }

    #icon-bottle-bx, .icon-user-bx{
        right: 2px;
    }
}

@media #{$lg} {
    #icon-bottle-white{
        display: block;
    }
    #icon-bottle-bx{
        display: none;
    }

    #nav-cont{
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;

        & li{
            padding: 2rem 0;
        }
    }

    #btn-burger {
        display: block;
        position: fixed;
        top: 12px;
        left: 16px;
        z-index: 3;
        background: url(../img/logos/icon_burger.svg);

        &.is-closed {
            background: url(../img/logos/icon_burger.svg);
        }

        &.is-opened {
            background: url(../img/logos/icon_croix.svg);
        }
    }

    header.isOpen{
        height: 633px;
    }
}

@media #{$xs}{
    header{
        height: 75px;

        &.isOpen{
            height: 527px;
        }

        & div img{
        margin: 1.2rem 0;
        width: 150px;
        }
    }

    

    
    #icon-bottle-white{
        right: 10px;
     }
}