
@import "./variables.scss";

%li-nav{
    padding-bottom: .2rem;
    margin: 1rem 5rem;
    font-size: 2.5rem;
    transition: $animate;
}

%hover{
    &:hover{
        cursor: pointer;
        transform: scale(1.07);
    }
}

header{
    position: fixed;
    top: 0;
    background: $bx;
    height: 150px;
    width: 100%;
}

#nav-cont{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div img{
    width: 250px;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    transition: $animate;
    &:hover{
        transform: scale(1.07);
    }
}

nav ul li a{
    text-decoration: none;
}


#nav-rouge{
    color: $rouge;
    @extend %li-nav;
    &:hover{
        transform: scale(1.07);
        color:  transparentize($rouge, 0.5);
    }
}

#nav-blanc{
    color: $blanc;
    @extend %li-nav;
    &:hover{
        transform: scale(1.07);
        color:  transparentize($blanc, 0.5);
    }
    
}



#nav-rose{
    color: $rose;
    @extend %li-nav;
    &:hover{
        transform: scale(1.07);
        color:  transparentize($rose, 0.5);
    }
}

.current_page{
    border-bottom: 4px solid $rouge;
    &:hover{
        border-bottom-color: transparentize($rouge, 0.5);
    }
}

#btn-con{
    background-color: white;
    color: $bx;
    @extend %cta;
    transition: $animate;

    @extend %hover;
}