@import "./variables.scss";
@import "./modales.scss";

.modal-add-bottle{
    text-align: center;
    background-color: $rose;
    border-radius: 30px;
    padding: 1rem 2rem;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @extend %shadow;

    & img{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    & h2{
        font-family: 'SourceB', sans-serif;
        font-size: 3rem;
        margin: 2rem 0;
    }

    & form{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        
        & label{
            @extend %labels; 
        }
        
        & .field{
            @extend %inputs;
            width: 90%;
        }

        & #cont-form-add-bottle{
            display: grid;
            grid-template-columns: 1fr 2fr 1fr 2fr;
            grid-template-rows: 1fr 1fr 1fr 2fr 1fr ;
            justify-items: start;

            & #name-label{
                grid-column: 1;
                grid-row: 1;
                align-self: center;
            }

            & #year-label{
                grid-column: 1;
                grid-row: 2;
                align-self: center;
            }

            & #grapes-label{
                grid-column: 1;
                grid-row: 3;
                align-self: center;
            }

            & #country-label{
                grid-column: 3;
                grid-row: 2;
                align-self: center;
            }

            & #region-label{
                grid-column: 3;
                grid-row: 3;
                align-self: center;
            }

            & #description-label{
                grid-column: 1;
                grid-row: 4;
                margin-top: 1rem;
            }

            & #photo-label{
                grid-column: 1;
                grid-row: 5;
                align-self: center;
            }

            & #type-label{
                grid-column: 3;
                grid-row: 5;
                align-self: center;
            }

            & #name{
                grid-column: 2 / 5;
                grid-row: 1;
                width: 96%;
            }

            & #year{
                grid-column: 2;
                grid-row: 2;
                width: 100%;
            }

            & #grapes{
                grid-column: 2;
                grid-row: 3;
            }

            & #country{
                grid-column: 4;
                grid-row: 2;
            }

            & #region{
                grid-column: 4;
                grid-row: 3;
            }

            & #description{
                resize: none;
                grid-column: 2 / 5;
                grid-row: 4;
                width: 96%;
            }

            & #photo{
                grid-column: 2;
                grid-row: 5;
                padding: 1rem 0 0 0;
                font-size: 1rem;
                color: $rouge;
            }
            
            & #type{
                grid-column: 4;
                grid-row: 5;
                width: 100%;
            }
        }
    }
}

#submitAdd{
    align-self: center;
    @extend %cta;
    color: white;
    background-color: $bx;
    color: $rose;
    border: none;
    margin: 2rem 0;
    transition: $animate;

    @extend %hover;
}



#champ-requis{
    position: absolute;
    bottom: 1rem;
    left: 4rem;
    color: $rouge;
}