@import "./variables.scss";
@import "./modales.scss";

#submitAdd, #submitUp, #submitAddYear{
    align-self: center;
    @extend %cta;
    background-color: $bx;
    color: $rose;
    border: none;
    margin: 2rem 0;
    transition: $animate;

    @extend %hover;
}

#champ-requis{
    position: absolute;
    bottom: 1rem;
    left: 4rem;
    color: $rouge;
}

#resultAdd, #resultUp, #resultAddYear{
    font-size: 1.5rem;
}

.modal-add-bottle, .modal-up-bottle, .modal-add-year{
    text-align: center;
    background-color: $rose;
    border-radius: 30px;
    padding: 1rem 2rem;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @extend %shadow;

    & h2{
        font-family: 'SourceB', sans-serif;
        font-size: 3rem;
        margin: 2rem 0;
    }

    & form{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        
        & label{
            @extend %labels; 
        }
        
        & .field{
            @extend %inputs;
            width: 90%;
        }

        & #cont-form-add-bottle{
            display: grid;
            grid-template-columns: 1fr 2fr 1fr 2fr;
            grid-template-rows: 1fr 1fr 1fr 2fr 1fr 1fr;
            justify-items: start;

            & #name-label{
                grid-column: 1;
                grid-row: 1;
                align-self: center;
            }

            & #year-label{
                grid-column: 1;
                grid-row: 2;
                align-self: center;
            }

            & #grapes-label{
                grid-column: 1;
                grid-row: 3;
                align-self: center;
            }

            & #country-label{
                grid-column: 3;
                grid-row: 2;
                align-self: center;
            }

            & #region-label{
                grid-column: 3;
                grid-row: 3;
                align-self: center;
            }

            & #description-label{
                grid-column: 1;
                grid-row: 4;
                margin-top: 1rem;
            }

            & #photo-label{
                grid-column: 1;
                grid-row: 5;
                align-self: center;
            }

            & #type-label{
                grid-column: 3;
                grid-row: 5;
                align-self: center;
            }
            
            & #stock-label{
                grid-column: 1;
                grid-row: 6;
                align-self: center;
            }

            & #cont-tof-stock{
                grid-column: 1/5;
                grid-row: 6;
                align-self: center;
                display: flex;
            
                & #container-photo img{
                    display: block;
                    width: 62.5px;
                    height: 75px;
                    margin-left: 1rem;
                }
            
                & #cont-stock-up{
                    margin-left: 8rem;
                    align-self: center;  
                }
            
                & #cont-stock-up #stock-up{
                    width: 4rem;
                }
            
            }

            & #name, #name-up {
                grid-column: 2 / 5;
                grid-row: 1;
                width: 96%;
            }

            & #year, #year-up{
                grid-column: 2;
                grid-row: 2;
                width: 100%;
            }

            & #grapes, #grapes-up{
                grid-column: 2;
                grid-row: 3;
            }

            & #country, #country-up{
                grid-column: 4;
                grid-row: 2;
            }

            & #region, #region-up{
                grid-column: 4;
                grid-row: 3;
            }

            & #description, #description-up{
                resize: none;
                grid-column: 2 / 5;
                grid-row: 4;
                width: 96%;
            }

            & #photo, #photo-up{
                grid-column: 2;
                grid-row: 5;
                padding: .8rem 0 0 0;
                font-size: 1.1rem;
                color: $rouge;
            }
            
            & #type, #type-up{
                grid-column: 4;
                grid-row: 5;
                width: 100%;
            }

            & #stock{
                grid-column: 2;
                grid-row: 6;
                width: 4rem;
            }
        }

        & #cont-form-add-year{
            display: grid;
            grid-template-columns: 1fr 2fr 1fr 2fr;
            grid-template-rows: 1fr 2fr 1fr;
            justify-items: start;

            

            & #year-add-year-label{
                grid-column: 1;
                grid-row: 1;
                align-self: center;
            }


            & #description-add-year-label{
                grid-column: 1;
                grid-row: 2;
                margin-top: 1rem;
            }

            & #photo-add-year-label{
                grid-column: 1;
                grid-row: 3;
                align-self: center;
            }

            
            & #stock-add-year-label{
                grid-column: 3;
                grid-row: 1;
                align-self: center;
            }

            & #year-add-year{
                grid-column: 2;
                grid-row: 1;
                width: 100%;
            }

            & #description-add-year{
                resize: none;
                grid-column: 2 / 5;
                grid-row: 2;
                width: 96%;
            }

            & #photo-add-year{
                grid-column: 2/5;
                grid-row: 3;
                padding: .8rem 0 0 0;
                font-size: 1.1rem;
                color: $rouge;
            }

            & #stock-add-year{
                grid-column: 4;
                grid-row: 1;
                width: 4rem;
            }
        }
    }
}



@media #{$xl}{
    .modal-add-bottle, .modal-up-bottle, .modal-add-year{
        & form{
            & .field{
                font-size: 1rem;
                padding: 0.4rem 0.8rem;
            }
            & #cont-form-add-bottle{
    
                & #name, #name-up{
                    width: 95%;
                }
    
                & #grapes, #grapes-up{
                    width: 87%;
                }
    
                & #country, #country-up{
                    width: 87%;
                }
    
                & #region, #region-up{
                    width: 87%;
                }
    
                & #description, #description-up{
                    width: 95%;
                }
    
                & #photo, #photo-up{
                    padding-top: 1rem;
                    font-size: 0.8rem;

                }
                
            }
        }
    }
}

@media #{$lg}{
    .modal-add-bottle, .modal-up-bottle{
        & form{
            & .field{
                font-size: 0.8rem;
                padding: 0.3rem 0.6rem;
            }

            & #cont-form-add-bottle{
                & #name, #name-up{
                    width: 94%;
                }
    
                & #grapes, #grapes-up{
                    width: 84%;
                }
    
                & #country, #country-up{
                    width: 84%;
                }
    
                & #region, #region-up{
                    width: 84%;
                }
    
                & #description, #description-up{
                    width: 94%;
                }

            }
        }
    }
}

@media #{$md}{
    .modal-add-bottle, .modal-up-bottle, .modal-add-year{
        width: 85%;
        & h2{
            font-size: 2.5rem;
        }
    
        & form{
            & .field{
                font-size: 0.8rem;
                padding: 0.2rem 0.5rem;
            }
            
            & label{
                font-size: 1.2rem; 
            }
    
            & #cont-form-add-bottle{
                & #name, #name-up{
                    width: 97%;
                }
    
                & #grapes, #grapes-up{
                    width: 90%;
                }
    
                & #country, #country-up{
                    width: 90%;
                }
    
                & #region, #region-up{
                    width: 90%;
                }
    
                & #description, #description-up{
                    width: 97%;
                }
                & #photo, #photo-up{
                    padding-top: 0.6rem;
                    font-size: 0.7rem;
                }
            }
            & #cont-form-add-year{
                display: grid;
                grid-template-columns: 1fr 3fr;
                grid-template-rows: 1fr 2fr 1fr 1fr;
                justify-items: start;
    
                
    
                & #year-add-year-label{
                    grid-column: 1;
                    grid-row: 1;
                    align-self: center;
                }
    
    
                & #description-add-year-label{
                    grid-column: 1;
                    grid-row: 2;
                    margin-top: 1rem;
                }
    
                & #photo-add-year-label{
                    grid-column: 1;
                    grid-row: 3;
                    align-self: center;
                }
    
                
                & #stock-add-year-label{
                    grid-column: 1;
                    grid-row: 4;
                    align-self: center;
                }
    
                & #year-add-year{
                    grid-column: 2;
                    grid-row: 1;
                    width: 100%;
                }
    
                & #description-add-year{
                    resize: none;
                    grid-column: 2;
                    grid-row: 2;
                    width: 96%;
                }
    
                & #photo-add-year{
                    grid-column: 2;
                    grid-row: 3;
                    padding: .6rem 0 0 0;
                    font-size: 0.7rem;
                    color: $rouge;
                }
    
                & #stock-add-year{
                    grid-column: 2;
                    grid-row: 4;
                    width: 4rem;
                }
            }
        }
    }
}

@media #{$sm}{
    .modal-add-bottle-container, .modal-up-bottle-container, .modal-add-year-container{
        position: absolute;
        height: 300vh;
    }
    .modal-add-bottle, .modal-up-bottle, .modal-add-year{
        top: 28%;
        #submitAdd, #submitUp, #submitAddYear{
            font-size: 1.5rem;
            margin: 1.5rem 0;
        }
        
        & h2{
            font-size: 2rem;
            margin: 1rem 0;
        }
    
        & form{
            & .field{
                font-size: 0.7rem;
                padding: 0.15rem 0.4rem;
            }
            
            & label{
                font-size: 1rem; 
            }
    
            & #cont-form-add-bottle{
                grid-template-columns: 1fr 4fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr;

                & #name-label{
                    grid-column: 1;
                    grid-row: 1;
                }

                & #year-label{
                    grid-column: 1;
                    grid-row: 2;
                }

                & #grapes-label{
                    grid-column: 1;
                    grid-row: 3;
                }

                & #country-label{
                    grid-column: 1;
                    grid-row: 4;
                }

                & #region-label{
                    grid-column: 1;
                    grid-row: 5;
                }

                & #description-label{
                    grid-column: 1;
                    grid-row: 6;
                }
                
                & #type-label{
                    grid-column: 1;
                    grid-row: 7;
                }

                & #photo-label{
                    grid-column: 1;
                    grid-row: 8;
                }

                & #stock-label{
                    grid-column: 1;
                    grid-row: 9;
                }

                & #cont-tof-stock{
                    grid-column: 1/3;
                    grid-row: 9;
                
                    & #cont-stock-up{
                        margin-left: 3rem;  
                    }
                
                    & #cont-stock-up #stock-up{
                        width: 3rem;
                    }
                
                }

                & #name, #name-up{
                    grid-column: 2;
                    grid-row: 1;
                    width: 96%;
                }

                & #year, #year-up{
                    grid-column: 2;
                    grid-row: 2;
                    width: 100%;
                }

                & #grapes, #grapes-up{
                    grid-column: 2;
                    grid-row: 3;
                    width: 96%;
                }

                & #country, #country-up{
                    grid-column: 2;
                    grid-row: 4;
                    width: 96%;
                }

                & #region, #region-up{
                    grid-column: 2;
                    grid-row: 5;
                    width: 96%;
                }

                & #description, #description-up{
                    grid-column: 2;
                    grid-row: 6;
                    width: 96%;
                }
                
                & #type, #type-up{
                    grid-column: 2;
                    grid-row: 7;
                    width: 100%;
                }

                & #photo, #photo-up{
                    grid-column: 2;
                    grid-row: 8;
                }
                
                & #stock{
                    grid-column: 2;
                    grid-row: 9;
                }
            }
        }
    }
}

@media #{$xs}{
    #champ-requis{
        bottom: .5rem;
        left: 2rem;
    }
    .modal-add-bottle, .modal-add-year{
        padding: 1rem;
        text-align: left;
        top: 28%;

        & h2{
            margin: 1rem 1rem;
        }
    
        & form{
            & .field{
                padding: .5rem .5rem;
            }
            & label{
                font-size: 0.9rem; 
                margin-left: 0;
            }
            & #cont-form-add-bottle{
                display: block;

                & #name, #name-up{
                    width: 100%;
                }
    
                & #grapes, #grapes-up{
                    width: 100%;
                }
    
                & #country, #country-up {
                    width: 100%;
                }
    
                & #region, #region-up{
                    width: 100%;
                }
    
                & #description, #description-up{
                    width: 100%;
                    height: 100px;
                }

                & #stock{
                    padding: .5rem .5rem;
                }
            }
            & #cont-form-add-year{
                display: block;

                & #description-add-year{
                    height: 50px;
                    width: 93%;
                }
            }
        }
    }

    .modal-up-bottle{
        padding: 1rem;
        text-align: left;
        top: 34%;

        & h2{
            margin: 1rem 1rem;
        }

        
    
        & form{
            & .field{
                padding: .5rem .5rem;
            }
            & label{
                font-size: 0.9rem; 
                margin-left: 0;
            }
            & #cont-form-add-bottle{
                display: block;
                
                & #cont-tof-stock #container-photo img{
                    margin-left: 0;
                }

                & #name, #name-up{
                    width: 100%;
                }
    
                & #grapes, #grapes-up{
                    width: 100%;
                }
    
                & #country, #country-up {
                    width: 100%;
                }
    
                & #region, #region-up{
                    width: 100%;
                }
    
                & #description, #description-up{
                    width: 100%;
                    height: 100px;
                }
            }
        }
    }
}