@import "./variables.scss";

.connexion-modal-container, .modal-crea-container, .modal-add-bottle-container, .modal-up-bottle-container, .modal-del-container{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
.hidden {
    z-index: -1;
    opacity: 0;
}

.pass_hide {
	display: none;
}

#pass-eye{
    display: flex;
    align-items: center;
    margin-right: -3rem;
    & i{
        margin: 0 1rem;
    }
}

.result_ac {
	position: relative;
	.content_result_ac {
		position: absolute;
		top: -32px;
		left: -152px;
        @extend %inputs;
        font-size: 1.5rem;
		background-color: white;
        text-align: start;
        &>div {
		    transition: $animate;

            &:hover{
                transform: $scale;
                cursor: pointer;
            }
	    } 
	}
}

.connexion-modal{
    text-align: center;
    background-color: $rose;
    border-radius: 30px;
    padding: 1rem 2rem;
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @extend %shadow;


    & h2{
        font-family: 'SourceB', sans-serif;
        font-size: 3rem;
        margin: 2rem 0;
    }

    & .form{
        width: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        & input{
            @extend %inputs;
        }

        & #submit{
            @extend %cta;
            color: white;
            background-color: $bx;
            color: $rose;
            border: none;
            margin: 2rem 0;
            transition: $animate;

            @extend %hover;
        }
    }
}

.modal-crea{
    text-align: center;
    background-color: $rose;
    border-radius: 30px;
    padding: 1rem 2rem;
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @extend %shadow;

    & img{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    & h2{
        font-family: 'SourceB', sans-serif;
        font-size: 3rem;
        margin: 2rem 0;
    }

    & .form-crea{
        width: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        & input, & select{
            @extend %inputs;
        }

        & select{
            width: 305px;
        }

        & #submitCrea{
            @extend %cta;
            color: white;
            background-color: $bx;
            color: $rose;
            border: none;
            margin: 2rem 0;
            transition: $animate;

            @extend %hover;
        }
    }
}

.modal-del{
    text-align: center;
    background-color: $rose;
    border-radius: 30px;
    padding: 1rem 2rem;
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @extend %shadow;

    & img{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    & h2{
        font-family: 'SourceB', sans-serif;
        font-size: 3rem;
        margin: 2rem 0;
    }

    & .form-del{
        width: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        & input, & select{
            @extend %inputs;
        }

        & select{
            width: 305px;
        }

        & #submitDel{
            @extend %cta;
            color: white;
            background-color: $bx;
            color: $rose;
            border: none;
            margin: 2rem 0;
            transition: $animate;

            @extend %hover;
        }
    }
}

.close-modal, .close-modal-crea, .close-modal-add, .close-modal-up, .close-modal-del{
    position: absolute;
    top: 1rem;
    right: 1rem;
    @extend %btn-close;
    transition: $animate;

    @extend %hover;
}

.msg_error{
    color: $red;
    width: 100%;
    text-decoration: underline;
    margin: 1rem;
    font-size: 2rem;
}

.msg_success{
    color: $vert;
    width: 100%;
    margin: 1rem;
    font-size: 2rem;
}

@media #{$xl}{
    .connexion-modal, .modal-crea, .modal-del{
       width: 50%; 
    }
}

@media #{$md}{
    .connexion-modal{

        & h2{
            font-size: 2.5rem;
        }

        & .form{
           width: 80%; 
        }
        
    }

    .modal-crea{

        & h2{
            font-size: 2.5rem;
        }

        & .form-crea{
           width: 80%; 
        }
        
    }
    .modal-del{

        & h2{
            font-size: 2.5rem;
        }

        & .form-del{
           width: 80%; 
        }
        
    }

    #pass-eye{
        margin-right: -1.6rem;
        & i{
            margin: 0 0.3rem;
        }
    }
}

@media #{$sm}{
    .connexion-modal, .modal-crea, .modal-del{
        width: 80%;
    }
}

@media #{$xs}{
    .result_ac {
        .content_result_ac {  
            left: -104px;
            font-size: 1rem;
        }
    }

    .connexion-modal{
        width: 75%;
        & h2{
            font-size: 2rem;
        }

        & .form{
            & input{
                font-size: 1rem;
            } 

            & #submit{
            font-size: 1.5rem;
            }
        }

        
    }

    .modal-crea{
        width: 75%;
        & h2{
            font-size: 2rem;
        }

        & .form-crea{
            & input, & select{
                font-size: 1rem;
            } 

            & select{
                width: 210px;
            }
    

            & #submitCrea{
            font-size: 1.5rem;
            }
        }

        
    }

    .modal-del{
        width: 75%;
        & h2{
            font-size: 2rem;
        }

        & .form-del{
            & input, & select{
                font-size: 1rem;
            } 

            & select{
                width: 210px;
            }
    

            & #submitDel{
            font-size: 1.5rem;
            }
        }

        
    }

    .msg_success, .msg_error{
        font-size: 1.5rem;
    }
}

@media #{$xxs}{
    .connexion-modal{
        & h2{
            font-size: 1.5rem;
        }

        & div{
            & input, & select{
                font-size: 1rem;
            } 

            & #submit{
            font-size: 1.2rem;
            }
        }

        
    }
    .modal-crea{
        & h2{
            font-size: 1.5rem;
        }

        & div{
            & input, & select{
                font-size: 1rem;
            } 

            & #submitCrea{
            font-size: 1.2rem;
            }
        }

        
    }

    .modal-del{
        & h2{
            font-size: 1.5rem;
        }

        & div{
            & input, & select{
                font-size: 1rem;
            } 

            & #submitDel{
            font-size: 1.2rem;
            }
        }

        
    }

    .msg_success, .msg_error{
        font-size: 1rem;
    }
}