$bx: #3e0018;
$rouge: #88002d;
$blanc: #ffe5aa;
$rose: #ff7b6c;

$xl: "only screen and (max-width: 1200px)";
$lg: "only screen and (max-width: 992px)";
$md: "only screen and (max-width: 768px)";
$sm: "only screen and (max-width: 576px)";
$xs: "only screen and (max-width: 425px)";
$xxs: "only screen and (max-width: 320px)";


$animate: all 0.2s ease-in-out;
$scale: scale(1.07);

%cta{
    padding: 2px 15px;
    border-radius: 30px;
    font-family: "sourceB";
    font-size: 2rem;
}

%btn-close{
    width: 40px;
    height: 40px;
}

%shadow{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45);
}