@font-face {
  font-family: "source";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf"); }

@font-face {
  font-family: "sourceB";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf"); }

@font-face {
  font-family: "jose";
  src: url("../fonts/JosefinSans/JosefinSans-Regular.ttf"); }

@font-face {
  font-family: "joseB";
  src: url("../fonts/JosefinSans/JosefinSans-Bold.ttf"); }

#btn-con:hover, #btn-decon:hover {
  cursor: pointer;
  transform: scale(1.07); }

#btn-con, #btn-decon {
  padding: 2px 15px;
  border-radius: 30px;
  font-family: "sourceB";
  font-size: 2rem; }

#btn-burger, #icon-bottle-white, .icon-user-white, .icon-user-del-white {
  width: 40px;
  height: 40px; }

#nav-rouge, #nav-blanc, #nav-rose {
  padding-bottom: .3rem;
  margin: 1rem 5vw;
  font-size: 2.5rem;
  transition: all 0.2s ease-in-out; }

header {
  position: fixed;
  z-index: 2;
  top: 0;
  background: #3e0018;
  overflow: hidden;
  height: 150px;
  width: 100%;
  transition: all 1s ease-in-out; }
  header div img {
    width: 250px;
    margin: 3rem 0; }

#nav-cont {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }

nav ul {
  display: flex; }
  nav ul li {
    list-style: none;
    transition: all 0.2s ease-in-out; }
    nav ul li:hover {
      transform: scale(1.07); }
    nav ul li a {
      text-decoration: none;
      font-family: 'jose'; }

#nav-rouge {
  color: #88002d; }
  #nav-rouge:hover {
    transform: scale(1.07);
    color: rgba(136, 0, 45, 0.5); }

#nav-blanc {
  color: #ffe5aa; }
  #nav-blanc:hover {
    transform: scale(1.07);
    color: rgba(255, 229, 170, 0.5); }

#nav-rose {
  color: #ff7b6c; }
  #nav-rose:hover {
    transform: scale(1.07);
    color: rgba(255, 123, 108, 0.5); }

.current_page {
  border-bottom: 3px solid #88002d; }
  .current_page:hover {
    border-bottom-color: rgba(136, 0, 45, 0.5); }

#btn-con, #btn-decon {
  margin: 3rem 0;
  background-color: white;
  color: #3e0018;
  border: none;
  transition: all 0.2s ease-in-out; }
  #btn-con a, #btn-decon a {
    text-decoration: none;
    color: #3e0018; }

#btn-burger {
  display: none; }

#icon-bottle-white, .icon-user-white, .icon-user-del-white {
  position: absolute;
  z-index: 4;
  top: 25px;
  right: 21px;
  margin: 0;
  display: none;
  transition: all 0.2s ease-in-out; }
  #icon-bottle-white:hover, .icon-user-white:hover, .icon-user-del-white:hover {
    transform: scale(1.07);
    cursor: pointer; }

.icon-user-white {
  background: url("../img/logos/icon_user_plus_white.svg");
  top: 87px; }

.icon-user-del-white {
  background: url("../img/logos/icon_user_del_white.svg");
  top: 150px; }

#icon-bottle-bx, .icon-user-bx, .icon-user-del-bx {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 4;
  top: 160px;
  right: 10px;
  margin: 0;
  transition: all 0.2s ease-in-out; }
  #icon-bottle-bx:hover, .icon-user-bx:hover, .icon-user-del-bx:hover {
    transform: scale(1.07);
    cursor: pointer; }

.icon-user-bx {
  background: url("../img/logos/icon_user_plus.svg");
  top: 220px; }

.icon-user-del-bx {
  background: url("../img/logos/icon_user_del.svg");
  top: 281px; }

@media only screen and (max-width: 1200px) {
  #nav-rouge, #nav-blanc, #nav-rose {
    margin: 1rem 3vw; }
  #icon-bottle-bx, .icon-user-bx, .icon-user-del-bx, .icon-user-bx {
    right: 2px; } }

@media only screen and (max-width: 992px) {
  #icon-bottle-white, .icon-user-white, .icon-user-del-white {
    display: block; }
  #icon-bottle-bx, .icon-user-bx, .icon-user-del-bx {
    display: none; }
  #nav-cont {
    flex-direction: column; }
  nav ul {
    flex-direction: column; }
    nav ul li {
      padding: 2rem 0; }
  #btn-burger {
    display: block;
    position: fixed;
    top: 12px;
    left: 16px;
    z-index: 3;
    background: url(../img/logos/icon_burger.svg); }
    #btn-burger.is-closed {
      background: url(../img/logos/icon_burger.svg); }
    #btn-burger.is-opened {
      background: url(../img/logos/icon_croix.svg); }
  header.isOpen {
    height: 633px; } }

@media only screen and (max-width: 425px) {
  header {
    height: 75px; }
    header.isOpen {
      height: 527px; }
    header div img {
      margin: 1.2rem 0;
      width: 150px; }
  #icon-bottle-white, .icon-user-white, .icon-user-del-white {
    right: 10px;
    top: 25px; }
  .icon-user-white {
    top: 87px; }
  .icon-user-del-white {
    top: 150px; }
  #icon-bottle-bx, .icon-user-bx, .icon-user-del-bx {
    top: 160px; }
  .icon-user-bx {
    top: 220px; }
  .icon-user-del-bx {
    top: 281px; } }
