@font-face {
  font-family: "source";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf"); }

@font-face {
  font-family: "sourceB";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf"); }

@font-face {
  font-family: "jose";
  src: url("../fonts/JosefinSans/JosefinSans-Regular.ttf"); }

@font-face {
  font-family: "joseB";
  src: url("../fonts/JosefinSans/JosefinSans-Bold.ttf"); }

.del-creat-cont img {
  width: 40px;
  height: 40px; }

.cards {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45); }

#ratrape-header {
  width: 100%;
  height: 150px; }

.cards {
  position: relative;
  width: 90%;
  height: 600px;
  margin: 2.5rem auto;
  background: white;
  border-radius: 15px; }

.del-creat-cont {
  position: absolute;
  top: 15px;
  right: 0; }
  .del-creat-cont img {
    margin: 0 1rem;
    transition: all 0.2s ease-in-out; }
    .del-creat-cont img:hover {
      transform: scale(1.07);
      cursor: pointer; }

.card-cont {
  margin-right: 2rem;
  height: 600px;
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr; }
  .card-cont div h4 {
    color: #88002d;
    font-family: 'jose';
    font-size: 1.5rem; }
  .card-cont div p {
    margin-left: 1rem;
    font-size: 1.3rem; }
  .card-cont .photos-bottles {
    grid-column: 1;
    grid-row: 1 / 6;
    place-self: center;
    border-radius: 15px;
    width: 250px;
    height: 300px;
    margin: 0 2rem; }
  .card-cont h2 {
    grid-column: 2 / 5;
    grid-row: 1;
    font-family: 'joseB';
    font-size: 2.5rem; }
  .card-cont .annee {
    grid-column: 2 / 4;
    grid-row: 2;
    display: flex; }
  .card-cont .cepage {
    grid-column: 2 / 4;
    grid-row: 3;
    display: flex; }
  .card-cont .pays {
    grid-column: 4;
    grid-row: 2;
    display: flex; }
  .card-cont .region {
    grid-column: 4;
    grid-row: 3;
    display: flex; }
  .card-cont .descri {
    grid-column: 2;
    grid-row: 4; }
  .card-cont .textarea {
    grid-column: 3 / 5;
    grid-row: 5;
    align-self: start; }
    .card-cont .textarea p {
      margin-left: 0;
      margin-top: -1rem;
      margin-bottom: 2rem; }

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'joseB';
  font-size: 2rem;
  margin-top: 2rem; }

.navigation li {
  margin: 0 20px;
  list-style: none; }

.navigation li a {
  color: #3e0018; }

.disabled a {
  opacity: 0.4;
  cursor: not-allowed; }

.active {
  color: red;
  transform: scale(1.1);
  cursor: not-allowed; }

.active a {
  color: red !important; }

@media only screen and (max-width: 1200px) {
  .card-cont div h4 {
    font-size: 1.3rem; }
  .card-cont div p {
    font-size: 1rem; }
  .card-cont .photos-bottles {
    width: 200px;
    height: 240px; }
  .card-cont h2 {
    font-size: 2rem; } }

@media only screen and (max-width: 992px) {
  .card-cont {
    margin: 2rem;
    align-items: center;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr; }
    .card-cont .photos-bottles {
      grid-column: 1;
      grid-row: 1;
      width: 150px;
      height: 180px;
      margin-top: 2rem; }
    .card-cont h2 {
      grid-column: 2;
      grid-row: 1; }
    .card-cont .annee {
      grid-column: 1;
      grid-row: 2; }
    .card-cont .cepage {
      grid-column: 1;
      grid-row: 3; }
    .card-cont .pays {
      grid-column: 2;
      grid-row: 2; }
    .card-cont .region {
      grid-column: 2;
      grid-row: 3; }
    .card-cont .descri {
      grid-column: 1;
      grid-row: 4; }
    .card-cont .textarea {
      grid-column: 2;
      grid-row: 5; }
      .card-cont .textarea p {
        margin-top: -3rem; } }

@media only screen and (max-width: 768px) {
  .del-creat-cont {
    top: 202px; }
  .card-cont {
    grid-template-columns: 40% 60%;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 2fr; }
    .card-cont .photos-bottles {
      grid-column: 1;
      grid-row: 1;
      width: 150px;
      height: 180px;
      margin-top: 2rem; }
    .card-cont h2 {
      grid-column: 2;
      grid-row: 1; }
    .card-cont .annee {
      grid-column: 1 / 3;
      grid-row: 2; }
    .card-cont .cepage {
      grid-column: 1 / 3;
      grid-row: 3; }
    .card-cont .pays {
      grid-column: 1 / 3;
      grid-row: 4; }
    .card-cont .region {
      grid-column: 1 / 3;
      grid-row: 5; }
    .card-cont .descri {
      grid-column: 1 / 3;
      grid-row: 6; }
    .card-cont .textarea {
      grid-column: 1 / 3;
      grid-row: 7; }
      .card-cont .textarea p {
        margin-top: -0.5rem; } }

@media only screen and (max-width: 576px) {
  .del-creat-cont {
    top: 144px; }
  .card-cont div h4 {
    font-size: 1.2rem; }
  .card-cont div p {
    font-size: 0.90rem; }
  .card-cont .photos-bottles {
    width: 100px;
    height: 120px; }
  .card-cont h2 {
    font-size: 1.5rem; } }

@media only screen and (max-width: 425px) {
  #ratrape-header {
    height: 75px; }
  .del-creat-cont {
    right: 5px; }
    .del-creat-cont img {
      margin: 0 0.3rem; }
  .card-cont div h4 {
    font-size: 1rem; }
  .card-cont div p {
    font-size: 0.75rem; }
  .card-cont .photos-bottles {
    width: 100px;
    height: 120px; }
  .card-cont h2 {
    font-size: 1.2rem;
    margin-left: 1rem; } }

@media only screen and (max-width: 320px) {
  .card-cont div h4 {
    font-size: 0.8rem; }
  .card-cont div p {
    font-size: 0.75rem; }
  .card-cont h2 {
    font-size: 1.2rem;
    margin-left: 1.5rem; } }
