.connexion-modal .form #submit:hover, .close-modal:hover {
  cursor: pointer;
  transform: scale(1.07); }

.connexion-modal .form #submit {
  padding: 2px 15px;
  border-radius: 30px;
  font-family: "sourceB";
  font-size: 2rem; }

.close-modal {
  width: 40px;
  height: 40px; }

.connexion-modal {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45); }

.connexion-modal .form input {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  font-family: 'source', sans-serif;
  font-size: 1.5rem; }
  .connexion-modal .form input::placeholder {
    color: #818181; }

.connexion-modal-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  opacity: 1;
  transition: all 0.4s ease-in-out; }

.hidden {
  z-index: -1;
  opacity: 0; }

.pass_hide {
  display: none; }

#pass-eye {
  display: flex;
  align-items: center;
  margin-right: -3rem; }
  #pass-eye i {
    margin: 0 1rem; }

.connexion-modal {
  text-align: center;
  background-color: #ff7b6c;
  border-radius: 30px;
  padding: 1rem 2rem;
  width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .connexion-modal img {
    position: absolute;
    top: 1rem;
    right: 1rem; }
  .connexion-modal h2 {
    font-family: 'SourceB', sans-serif;
    font-size: 3rem;
    margin: 2rem 0; }
  .connexion-modal .form {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .connexion-modal .form #submit {
      color: white;
      background-color: #3e0018;
      color: #ff7b6c;
      border: none;
      margin: 2rem 0;
      transition: all 0.2s ease-in-out; }

.close-modal {
  display: block;
  transition: all 0.2s ease-in-out; }

.msg_error {
  color: red;
  width: 100%;
  text-decoration: underline;
  margin: 1rem;
  font-size: 2rem; }

.msg_success {
  color: #07dc2b;
  width: 100%;
  margin: 1rem;
  font-size: 2rem; }

@media only screen and (max-width: 1200px) {
  .connexion-modal {
    width: 50%; } }

@media only screen and (max-width: 768px) {
  .connexion-modal h2 {
    font-size: 2.5rem; }
  .connexion-modal .form {
    width: 80%; }
  #pass-eye {
    margin-right: -1.6rem; }
    #pass-eye i {
      margin: 0 0.3rem; } }

@media only screen and (max-width: 576px) {
  .connexion-modal {
    width: 80%; } }

@media only screen and (max-width: 425px) {
  .connexion-modal {
    width: 75%; }
    .connexion-modal h2 {
      font-size: 2rem; }
    .connexion-modal .form input {
      font-size: 1rem; }
    .connexion-modal .form #submit {
      font-size: 1.5rem; } }

@media only screen and (max-width: 320px) {
  .connexion-modal h2 {
    font-size: 1.5rem; }
  .connexion-modal div input {
    font-size: 1rem; }
  .connexion-modal div #submit {
    font-size: 1.2rem; } }
