@import "./composents/variables.scss";

@font-face {
    font-family: "source";
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: "sourceB";
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf");
}

@font-face {
    font-family: "jose";
    src: url("../fonts/JosefinSans/JosefinSans-Regular.ttf");
}

@font-face {
    font-family: "joseB";
    src: url("../fonts/JosefinSans/JosefinSans-Bold.ttf");
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "source",sans-serif;
    color: $bx;
    background-image: url(../img/bg-bouteilles.jpg);
    background-size: cover;
    background-attachment: fixed;
}

@import "./composents/header.scss";
@import "./composents/main.scss";


#footer{
    font-size: 1.5rem;
    margin: 1rem;
}

