@import "./composents/variables.scss";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "source",sans-serif;
    color: $bx;
    background-image: url(../img/bg-bouteilles.jpg);
    background-size: cover;
    background-attachment: fixed;
}

@import "./composents/header.scss";
@import "./composents/main.scss";
@import "./composents/modales.scss";
@import "./composents/modale_add.scss";


#footer{
    font-size: 1.5rem;
    margin: 1rem;
}

.red {
	color: $red;
}
.green {
	color: $vert;
}
.border_red {
	border: 1px solid $red;
}

